{% extends 'base.html' %}

{% block content %}
<h1>{{ coin_data.name }} ({{ coin_data.symbol }})</h1>

<div class="row">
    <div class="col-md-6">
        <h2>Market Data</h2>
        <table class="table">
            <tr>
                <th>Price</th>
                <td>${{ coin_data.quote.USD.price|round(2) }}</td>
            </tr>
            <tr>
                <th>Market Cap</th>
                <td>${{ coin_data.quote.USD.market_cap|round(2) }}</td>
            </tr>
            <tr>
                <th>24h Change</th>
                <td {% if coin_data.quote.USD.percent_change_24h >= 0 %}class="text-success"{% else %}class="text-danger"{% endif %}>
                    {{ coin_data.quote.USD.percent_change_24h|round(2) }}%
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <h2>Ticker Data</h2>
        <table class="table">
            <tr>
                <th>Price</th>
                <td id="ticker-price">${{ ticker_data.lastPrice }}</td>
            </tr>
            <tr>
                <th>24h Change</th>
                <td id="ticker-change" {% if ticker_data.priceChangePercent >= 0 %}class="text-success"{% else %}class="text-danger"{% endif %}>
                    {{ ticker_data.priceChangePercent }}%
                </td>
            </tr>
            <tr>
                <th>24h High</th>
                <td>${{ ticker_data.highPrice }}</td>
            </tr>
            <tr>
                <th>24h Low</th>
                <td>${{ ticker_data.lowPrice }}</td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Charts</h2>
        {# Add chart code here #}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var socket = io();

    socket.on('connect', function() {
        socket.emit('subscribe', { symbol: '{{ coin_data.symbol }}' });
    });

    socket.on('ticker', function(data) {
        $('#ticker-price').text('$' + data.price.toFixed(2));
        $('#ticker-change').text(data.change + '%');
        $('#ticker-change').toggleClass('text-success', data.change >= 0);
        $('#ticker-change').toggleClass('text-danger', data.change < 0);
    });
</script>
{% endblock %}
